@import url("https://use.typekit.net/lie7ipn.css");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*CSS RESET END*/

body {
  font-family: sofia-pro, sans-serif;
  font-style: normal;
}

.hamburger-menu {
  position: fixed;
  height: 100%;
  background-color: rgba(255, 255, 255, .8);
  border-color: transparent;
  filter: drop-shadow(0px 2px 5px #B8B7B5);
  top: 0;
  left: 0;
  overflow-x: hidden;
  width: 0;
  z-index: 1000;
  transition: 0.5s;
}

.menu-items {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
}

.menu-items a {
  font-size: 22px;
  font-weight: 800;
  text-align: center;
  text-decoration: none;
  padding-top: 80px;
  transition: 0.3s;
}

.menu-items a:visited {
  text-decoration: inherit;
  color: inherit;
}

.closebtn {
  width: 7%;
  padding-left: 25px;
  padding-top: 20px;
}

.header {
  width: 100vw;
  height: 70px;
}

.nav-bar {
  height: 70px;
  background-color: #F2F4F5;
  filter: drop-shadow(0px 2px 5px #B8B7B5);
}

.hamMenu {
  position: relative;
  padding-left: 6%;
  width: 5%;
  top: 15px;
  object-fit: contain;
}

#logo-nav {
  width: 25%;
  transform: translateY(70%);
  margin-left: 25%;
}
/*Starts my knockis/home styles is in home.html*/

#titleMy {
  margin-top: 10%;
  margin-left: 35%;
  font-weight: 300;
  font-size: 20px;
}

.holder{
	margin-left: 2%;
	padding-bottom: 10px;
}

/*Doesn't display the registered knocki since there isn't*/
.knockisHolder {
  margin-left: 8%;
	margin-right: 8%;
  margin-top: 7%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: absolute;
}

.detailsKnocki {
  width: 40vw;
  height: 190px;
	    transform: translateX(-4%);
  border-radius: 9px;
  background-image: url(../images/backgroundKnocki.png);
  background-position: -80px -150px;
  text-align: center;
}

.detailsKnocki{
  font-family: sofia-pro, sans-serif;
  color: white;
	padding-top: 2%;
  font-size: 17px;
	line-height: 29px;
	margin-left: 4%;
}

.detailsKnocki a {
	text-decoration: none;
	color: white;
}

#knockiTitle{
  transform: translateY(140%);
}
.detailsp span{
  padding-bottom: 2%;
}

.detailsp {
  margin-top: 50%;
  font-weight: 200;
}

#add-new-legend h1 {
  transform: translateY(1700%);
  line-height: 2px;
}

.iconAdd img{
  margin-top: 35%;
  width: 50%;
}

.containerKnocki {
  transform: translate(3.5%, 20%);
  width: 350px;
  height: 202px;
  background-image: url(../images/selectedKnocki.png);
  background-position: 0px 0px;
  background-size: 100%;
}

#chevronBack{
  margin-top: 3%;
  margin-left: 2%;
  width: 12%;
}

.infoKnocki {
  margin-top: 16%;
  margin-left: 8%;
}

.Location img {
  width: 7%;
  margin-left: 78%;
  margin-top: 3%;
  position: absolute;
}

.Location span {
  font-weight: 200;
  font-size: 20px;
  line-height: 45px;
	width: 70%;
}

.detailsContainer {
	transform: translateY(27%);
	display: flex;
	flex-direction: column;
}

.doneSubmit {
  position: absolute;
  margin-top: 10vh;
  margin-left: 7vw;
  font-family: sofia-pro, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 20px;
  color: white;
  border-radius: 120px;
  border-color: transparent;
  width: 85%;
  height: 60px;
  background-color: #5BA8C6;
}

.editKnocki {
  display: none;
}

/* edit technology styles*/
#instructionsTech {
  margin-top: 6%;
}

#instructionsTech p{
	text-align: center;
}

.techSections {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  position: absolute;
  margin-top: 10%;
  margin-left: 9.5%;
  transform: translateX(-4.5%);
}

.techIcon {
  width: 50%;
}

.techButton {
  width: 40vw;
  height: 29vh;
  border-radius: 9px;
  background-color: #FFFFFF;
  filter: drop-shadow(-3px 5px 10px #B8B7B5);
  text-align: center;
  margin-bottom: 5%;
  z-index: 1;
}

.description {
  position: relative;
  margin-top: 10%;
  font-family: sofia-pro, sans-serif;
  font-size: 12px;
  color: #585757;
}

.hdescription {
  font-weight: 700;
}

.pdescription {
  margin-top: 6%;
}

.editables{
	display: flex;
	flex-direction: column;
}

.editables img{
	padding-bottom: 10%;
}

#doneEditable {
	transform: translateX(80%);
	width: 10px;
}

.selected{
  color: #5BA8C6;
  border-color: #5BA8C6;
}

#phoneButton img {
  transform: translateX(11%);
}

#tempimg {
  margin-top: 10px;
  width: 30%;
}

#housimg {
  width: 55%;
}

#clockimg {
  width: 65%;
}

#coffeimg {
  width: 55%;
  transform: translateY(-18%);
}

#musicimg {
  width: 58%;
}

#lampimg {
  width: 58%;
  transform: translateX(13%);
}

#textimg {
  width: 60%;
  transform: translateY(-6%);
}

#doneTech {
  position: absolute;
	margin-top: 350%;
  margin-bottom: 30px;
}
