@import url("https://use.typekit.net/lie7ipn.css");

body {
  font-family: sofia-pro, sans-serif;
  font-style: normal;
}

.hamburger-menu {
  position: fixed;
  height: 100%;
  background-color: rgba(255, 255, 255, .8);
  border-color: transparent;
  filter: drop-shadow(0px 2px 5px #B8B7B5);
  top: 0;
  left: 0;
  overflow-x: hidden;
  width: 0;
  z-index: 1000;
  transition: 0.5s;
}

.menu-items {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
}

.menu-items a {
	text-decoration: none;
  font-size: 22px;
  font-weight: 800;
  text-align: center;
	padding-top: 10px;
	padding-bottom: 60px;
  transition: 0.3s;
}

.menu-items a:visited {
  text-decoration: none;
  color: 	#696969;
}

a.bar, a.bar:link, a.bar:visited, a.bar:hover, a.bar:focus, a.bar:active{
	text-decoration: none;
  color: 	#696969;
}

.closebtn {
  width: 7%;
  padding-left: 25px;
  padding-top: 20px;
}

.header {
  width: 100vw;
  height: 70px;
}

.nav-bar {
  height: 70px;
  background-color: #F2F4F5;
  filter: drop-shadow(0px 2px 5px #B8B7B5);
}

.hamMenu {
  position: relative;
  padding-left: 6%;
  margin-top: 4%;
  width: 7%;
  top: 15px;
  object-fit: contain;
}

#logo-nav {
  width: 25%;
  transform: translateY(70%);
  margin-left: 25%;
}

.navigationBarTitle {
  font-family: sofia-pro, sans-serif;
  font-size: 23px;
  position: relative;
  text-align: center;
  bottom: 9px;
}

/*First screen*/
.accountForm {
  width: 80%;
  height: 60%;
  margin-left: 15%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.accountForm label{
  padding-top: 20%;
  color: #C9C8C8;
  font-size: 15px;
}

.accountForm p{
  padding-top: 10px;
}

.doneSubmit {
  position: absolute;
  margin-top: 21vh;
  margin-left: 24vw;
  font-family: sofia-pro, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 15px;
  color: white;
  border-radius: 120px;
  border-color: transparent;
  width: 203px;
  height: 60px;
  background-color: #CD5C5C;
  text-decoration: none;
}


.SecondScreen{
  width: 100vw;
}

.settingsSection {
  width: 90%;
  margin-top: 10%;
  margin-left: 20px;
  margin-right: 20px;
  /* We need to add to `.box-shadows` to match the
   shadows on comps */
  box-shadow: 4px 4px #f8f8f8;
  border-radius: 5%;
}

.preferencesRow {
  height: 50px;
  border-bottom: 1.5px solid #f8f8f8;
}

.preferencesHeader {
  position: relative;
  font-size: 17px;
  left: 5%;
  top: 15px;
}

.chevron {
  float: right;
  width: 10px;
  margin-right: 8%;
}

.pushNotificationsRow {
  height: 60px;
  border-bottom: 1.5px solid #f8f8f8;
}

.pushNotificationHeader {
  position: relative;
  font-size: 16px;
  left: 5%;
  top: 20px;
}

.allowLocationRow {
  height: 60px;
  border-bottom: 1.5px solid #f8f8f8;
}

.locationHeader {
  position: relative;
  font-size: 16px;
  left: 5%;
  top: 20px;
}

.autoUpdatesRow {
  height: 60px;
}

.autoUpdatesHeader {
  position: relative;
  font-size: 16px;
  left: 5%;
  top: 20px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 27px;
  float: right;
  right: 5%;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  bottom: 3px;
  left: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #5ba8c7;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.editProfileButton {
  width: 6%;
  position: absolute;
  right: 10%;
  top: 17%;
  z-index: 1000;
}

.doneEditing {
  position: absolute;
  margin-top: 10vh;
  margin-left: 24vw;
    font-family: sofia-pro, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 15px;
    color: white;
    border-radius: 120px;
    border-color: transparent;
    width: 203px;
    height: 60px;
  background-color: #5BA8C6;
}
