@import url("https://use.typekit.net/lie7ipn.css");

body {
  font-family: sofia-pro, sans-serif;
  font-style: normal;
  width: 100%;
}

.hamburger-menu {
  position: fixed;
  height: 100%;
  background-color: rgba(255, 255, 255, .8);
  border-color: transparent;
  filter: drop-shadow(0px 2px 5px #B8B7B5);
  top: 0;
  left: 0;
  overflow-x: hidden;
  width: 0;
  z-index: 1000;
  transition: 0.5s;
}

.menu-items {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
}

.menu-items a {
  font-size: 22px;
  font-weight: 800;
  text-align: center;
  text-decoration: none;
  padding-top: 80px;
  transition: 0.3s;
}

.menu-items a:visited {
  text-decoration: inherit;
  color: inherit;
}

.closebtn {
  width: 7%;
  padding-left: 25px;
  padding-top: 20px;
}

.header {
  width: 100vw;
  height: 70px;
}

.nav-bar {
  height: 70px;
  background-color: #F2F4F5;
  filter: drop-shadow(0px 2px 5px #B8B7B5);
}

.hamMenu {
  position: relative;
  padding-left: 6%;
  transform: translateY(70%);
  width: 6%;
  top: 20px;
  object-fit: contain;
  z-index: 6;
}

.navigationBarTitle {
  font-family: sofia-pro, sans-serif;
  font-size: 23px;
  position: relative;
  text-align: center;
  top: 7px;
}

/*First screen*/
.accountForm {
  transform: translateY(20%);
  width: 80%;
  height: 40%;
  margin-left: 15%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.accountForm label{
  padding-top: 80px;
  color: #C9C8C8;
  font-size: 15px;
}

.accountForm p{
  padding-top: 10px;
}

/*Second screen*/
/* TODO: Improve borders around it */
/* Sub-section holding the buttons */

.SecondScreen{
  width: 100vw;
}

.settingsSection {
  width: 90%;
  margin-top: 15%;
  margin-left: 20px;
  margin-right: 20px;
  /* We need to add to `.box-shadows` to match the
   shadows on comps */
  box-shadow: 4px 4px #f8f8f8;
  border-radius: 5%;
}

.preferencesRow {
  height: 50px;
  border-bottom: 1.5px solid #f8f8f8;
}

.preferencesHeader {
  position: relative;
  font-size: 17px;
  left: 5%;
  top: 15px;
}

.chevron {
  float: right;
  width: 10px;
  margin-right: 8%;
}

.pushNotificationsRow {
  height: 60px;
  border-bottom: 1.5px solid #f8f8f8;
}

.pushNotificationHeader {
  position: relative;
  font-size: 16px;
  left: 5%;
  top: 20px;
}

.allowLocationRow {
  height: 60px;
  border-bottom: 1.5px solid #f8f8f8;
}

.locationHeader {
  position: relative;
  font-size: 16px;
  left: 5%;
  top: 20px;
}

.autoUpdatesRow {
  height: 60px;
}

.autoUpdatesHeader {
  position: relative;
  font-size: 16px;
  left: 5%;
  top: 20px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 27px;
  float: right;
  right: 5%;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  bottom: 3px;
  left: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #5ba8c7;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
