@import url("https://use.typekit.net/lie7ipn.css");

body {
  font-family: sofia-pro, sans-serif;
  font-style: normal;
}

.hamburger-menu {
  position: fixed;
  height: 100%;
  background-color: rgba(255, 255, 255, .8);
  border-color: transparent;
  filter: drop-shadow(0px 2px 5px #B8B7B5);
  top: 0;
  left: 0;
  overflow-x: hidden;
  width: 0;
  z-index: 1000;
  transition: 0.5s;
}

.menu-items {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
}

.menu-items a {
	text-decoration: none;
  font-size: 22px;
  font-weight: 800;
  text-align: center;
	padding-top: 50px;
	padding-bottom: 60px;
  transition: 0.3s;
}

a.bar, a.bar:link, a.bar:visited, a.bar:hover, a.bar:focus, a.bar:active{
	text-decoration: none;
  color: 	#696969;
}

.menu-items a:visited {
  text-decoration: none;
  color: 	#696969;
}

.closebtn {
  width: 7%;
  padding-left: 25px;
  padding-top: 20px;
}

.header {
  width: 100vw;
  height: 70px;
}

.nav-bar {
  height: 70px;
  background-color: #F2F4F5;
  filter: drop-shadow(0px 2px 5px #B8B7B5);
}

.hamMenu {
  position: relative;
  padding-left: 6%;
  width: 5%;
  top: 15px;
  object-fit: contain;
}

#logo-nav {
  width: 25%;
  transform: translateY(70%);
  margin-left: 25%;
}

.title {
  position: absolute;
  margin-top: 10%;
  margin-left: 24%;
  font-weight: 300;
  color: #525252;
}

.settingsContainer {
  position: absolute;
  width: 90vw;
  height: 350px;
  margin-top: 20%;
  margin-left: 5%;
  border-radius: 20px;
  -moz-box-shadow: 0 0 50px 3px #f1ecec;
  -webkit-box-shadow: 0 0 50px 3px #f1ecec;
}

.settingsicon {
  width: 15%;
  padding-top: 7%;
  padding-left: 6%;
  margin-top: 4%;
}

.buttonsLoc {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin-top: -13%;
  transform: translateX(53%);
}

.buttonSetting {
  font-family: sofia-pro, sans-serif;
  font-weight: 400;
  color: #838383;
  border-color: #838383;
  border-radius: 7px;
  border-width: 0.5px;
  background-color: transparent;
  padding: 7px 11px 7px 11px;
  font-size: 12px;
}

.selected{
  color: #5BA8C6;
  border-color: #5BA8C6;
}

.labelRoom {
  font-size: 12px;
  color: #ADACAC;
  margin-left: 32%;
  transform: translateY(-400%);
}

input {
  font-family: sofia-pro, sans-serif;
  font-size: 13px;
  font-weight: 200;
  width: 53vw;
  padding: 8px;
  padding-bottom: 3px;
  padding-left: 0px;
  margin-left: 12%;
  border-width: 0px 0em 1px 0;
  /* top right bottom left */
  border-color: #707070;
  color: #BEBEBE;
  cursor: text;
}

input:focus {
  color: black;
  outline: none;
  box-shadow: 0 4px 2px -2px #B8B7B5;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
}

.classSurface {
  font-size: 12px;
  color: #ADACAC;
  margin-left: 33%;
  transform: translateY(-415%);
}

#placeRoom {
  margin-top: 15%;
  position: absolute;
  padding-left: 1%;
}

#surfaceInput {
  position: absolute;
  margin-top: 14%;
  padding-left: 1%;
}

.doneSubmit {
  position: absolute;
  margin-top: 75vh;
  margin-left: 24vw;
  font-family: sofia-pro, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 20px;
  color: white;
  border-radius: 120px;
  border-color: transparent;
  width: 203px;
  height: 60px;
  background-color: #5BA8C6;
}

#doneSettings{
  margin-top: 120%;
  margin-right: 20%;
}


/* First screen/section ends*/
/* Second screen/section begins*/
#title2 {
  color: #525252;
  font-size: 18px;
  margin-left: 26%;
}

span {
  font-weight: bold;
  color: #525252;
}

.instructions {
  text-align: center;
  position: absolute;
  margin-top: 40%;
  margin-left: 30%;
  font-weight: 200;
  font-size: 15px;
  line-height: 19px;
}

#knockiIllustration {
  position: absolute;
  width: 60%;
  margin-left: 20%;
  margin-top: 55%;
}

.butDone {
  margin-left: -1%;
}

.ConectScreen {
  display: none;
}

#instructionsTech {
  margin-top: 2vh;
  margin-left: 29%;
}

.techSections {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  position: absolute;
  margin-top: 20%;
  margin-left: 10%;
  transform: translateX(-4.5%);
}

.techIcon {
  width: 50%;
}

.techButton {
  width: 40vw;
  height: 29vh;
  border-radius: 9px;
  background-color: #FFFFFF;
  filter: drop-shadow(-3px 5px 10px #B8B7B5);
  text-align: center;
  margin-bottom: 5%;
  z-index: 1;
}

.description {
  position: relative;
  margin-top: 10%;
  font-family: sofia-pro, sans-serif;
  font-size: 12px;
  color: #585757;
}

.hdescription {
  font-weight: 700;
}

.pdescription {
  margin-top: 6%;
}

#phoneButton img {
  transform: translateX(11%);
}

#tempimg {
  margin-top: 10px;
  width: 30%;
}

#housimg {
  width: 55%;
}

#clockimg {
  width: 65%;
}

#coffeimg {
  width: 55%;
  transform: translateY(-18%);
}

#musicimg {
  width: 58%;
}

#lampimg {
  width: 58%;
  transform: translateX(13%);
}

#textimg {
  width: 60%;
  transform: translateY(-6%);
}

#doneTech {
  position: relative;
  margin-bottom: 5vh;
  margin-top: 168vh;
  transform: translateX(-2%);
}

.selectTech {
  display: none;
}

/* Screen to record taps beign*/

.savingGestureScreen {
  display: none;
}

#titleTap {
  margin-top: 2.3vh;
  margin-left: 22vw;
  position: absolute;
}

#insTap {
  margin-left: 20vw;
  margin-top: 6vh;
}

#tapArea {
  width: 80vw;
  margin-left: 10vw;
  background-color: white;
  border: 2px solid #5ba8c6;
  border-radius: 7%;
  height: 60vw;
  position: absolute;
  margin-top: 14vh;
}

#gestureArea {
  width: 80vw;
  height: 7vh;
  background-color: #f2f4f5a6;
  opacity: 0.8;
  margin-left: 10vw;
  border-radius: 9%;
  text-align: center;
  position: absolute;
  margin-top: 45vh;
}

#doneRecording {
  margin-top: 55vh;
  opacity: 0;
}

.dot, .hyphen {
  background-color: #5ba8c6;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: inline-block;
  margin: 7% 3% 0 1%;
}

.hyphen {
  width: 38px;
  border-radius: 4px;
}
/* 3rd section/screen css begins*/
#titleR {
  font-size: 18px;
  transform: translateY(-70%);
  margin-left: 34%;
}

#instruR {
  margin-top: 8vh;
  transform: translateX(-14%);
}

.progressCircle {
  position: absolute;
  margin-top: 16vh;
  margin-left: 20vw;
  width: 63%;
}

.circle {
  animation: progress 3.5s ease-out forwards;
}

#animationCircle{
  stroke: #5BA8C6;
  fill: none;
  stroke-width: 2.3;
  stroke-linecap: round;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

#donePattern {
  margin-top: 10vh;
  transform: translateX(-38%);
}

.greyButton {
  font-family: sofia-pro, sans-serif;
  font-size: 19px;
  color: #90949A;
  font-weight: 200;
  text-align: center;
  /* float: right; */
  position: absolute;
  margin-left: 35vw;
  margin-top: 66vh;
}

.savingAnimationScreen {
  display: none;
}
