
  @import url("https://use.typekit.net/lie7ipn.css");

body {
  font-family: sofia-pro, sans-serif;
  font-size: 14px;
  line-height: 1.6em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.btn {
  border-radius: 2px;
  margin-top: 40px;
  margin-right: 150px;
  padding: 10px 10px;
  color: #5BA8C6;
  font-size: 25px;
  font-family: sofia-pro, sans-serif;
  font-weight: 800;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

#prev{
  margin-left: 150px;
}

.card {
  background: #FFFFFF;
  width:800px;
  height: 1200px;
  margin-top: 30%;
  transform: translateX(11%);
  box-sizing: border-box;
  padding: 10px;
  text-align: center;
}

.products{
  overflow: hidden;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  height: 948px;
}

.product {
  height: 948px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}
.product.active {
  opacity: 1;
  visibility: visible;
}
.illo1{
  width: 95%;
  height: 95%;
  transform: translateX(7%);
}
.illo2{
  width: 95%;
  height: 95%;
  transform: translateX(-2%);
  transform: translateY(12%);
}
.thumbnail {
  margin: 0 0 48px;
}

.title {
  margin: 10px 0 12px;
  margin-bottom: 20px;
  font-family: sofia-pro, sans-serif;
  font-weight: 700;
  color: black;
  font-size: 40px;
  line-height: 37px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

#firstLine{
  padding-top: 30px;
}

#lastLine{
  padding-bottom: 10px;
}

.description {
  font-family: sofia-pro, sans-serif;
  font-weight: 300;
  font-style: normal;
  margin: 0 48px;
  line-height: 34px;
  font-size: 32px;
}

.footer {
  margin-top: 10%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;

}

[ripple] {
  z-index: 1;
  overflow: hidden;
}
[ripple] .ripple {
  position: absolute;
  background: #FFFFFF;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-animation: ripple 2s;
          animation: ripple 2s;
}

@-webkit-keyframes ripple {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0.2;
  }
  100% {
    -webkit-transform: scale(20);
            transform: scale(20);
    opacity: 0;
  }
}

@keyframes ripple {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0.2;
  }
  100% {
    -webkit-transform: scale(20);
            transform: scale(20);
    opacity: 0;
  }
}
